.card {
    margin-top: 5rem;
    flex: 0 1 calc((100% - 40px) / 3);
    border: 1px solid #E0E0E0;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    overflow: hidden;
    width: 300px;
}

.card:hover {
    transform: scale(1.01);
}

.card img {
    width: 100%;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: inherit;
    background-color: inherit;
    overflow: hidden;
}

.pic-div {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    border-radius: inherit;
    background-color: white;
}

.pic-div img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    background-color: inherit;

}

/* kárya lábléce */
.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: inherit;
    padding: 10px;
}


.card2 {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: inherit;
    padding: 2rem;
}
.card2 a{
    opacity: 100%;
}

.card2-header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 1rem;
}

.card2-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover; 
}

#logoutbtn, #logoutbtn a{
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    color: white;
    background-color: #C33835;
    border: none;
    cursor: pointer;
    border-radius: 40%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto; /* Ez a gombot a jobb oldalra igazítja */
}

.icon-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
    
}

.icon-logout i{
    color: white;
    opacity: 100%;
}
.fa-arrow-right-from-bracket{
    background-color: inherit;
}